@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rancho', cursive;
    background-color: #2B2D42;
    color: #EDF2F4;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #EDF2F4;
    text-shadow: #EF233C 1px 0.1px 0.2px;
    text-transform: uppercase;
    padding: 1px 5px 1px 5px;
    opacity: 1;
    transition: 0.3s;
}
a:hover {
    color: #8D99AE;
    text-shadow: #2B2D42 1px 0.1px 0.2px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    background: linear-gradient(0deg, rgba(43,45,66,0.35) 0%, rgba(239,35,60,1) 45%, rgba(43,45,66,0.35) 100%);
    border-radius: 5px;
    padding: 10px;
    word-spacing: 30px;
}

ul li {
    display: inline-block;
    align-items: center;
}

.main {
    color: #EF233C;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(43,45,66,0.35) 0%, rgba(239,35,60,1) 45%, rgba(43,45,66,0.35) 100%);
    border-radius: 5px;
    padding: 10px;
}

.wrap {
    margin: 2rem;
    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
}

.container {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 1px;
    display: flex;
    align-items: flex-end;
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg))
    rotateY(calc(var(--rY) * 1deg));
    background: url("");
    background-position: var(--bX) var(--bY);
    background-size: 200px auto;
    box-shadow: 0 0 5px .1rem hsla(0, 0%, 0%, .8);
    transition: transform .6s 1s;
}

.container::before,
.container::after {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: -1;
    opacity: .3;
    transition: .3s;
}

.container::before {
    top: 2rem;
    right: 2rem;
    border-bottom-width: 0;
    border-left-width: 0;
}

.container::after {
    bottom: 2rem;
    left: 2rem;
    border-top-width: 0;
    border-right-width: 0;
}

.container--active {
    transition: none;
}

.container--2 {
    filter: hue-rotate(80deg) saturate(140%);
}

.container--3 {
    filter: hue-rotate(160deg) saturate(140%);
}

.wrap:hover .container::before,
.wrap:hover .container::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}