@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rancho', cursive;
    background-color: #2B2D42;
    color: #EDF2F4;
}

a {
    text-decoration: none;
    color: #EDF2F4;
    text-shadow: #EF233C 1px 0.1px 0.2px;
    text-transform: uppercase;
    padding: 1px 5px 1px 5px;
    opacity: 1;
    transition: 0.3s;
}

a:hover {
    color: #8D99AE;
    text-shadow: #2B2D42 1px 0.1px 0.2px;
}

nav {
    width: auto;
    height: auto;
    margin: auto;
    padding: 1px;
    background: rgb(43,45,66);
    background: linear-gradient(0deg, rgba(43,45,66,1) 0%, rgba(239,35,60,1) 50%, rgba(43,45,66,1) 100%);
    border-radius: 0px;
    align-items: center;
    text-align: center;
}

ul li {
    display: inline-block;
    align-items: center;
}

section {
    color: #EF233C;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(43,45,66);
    background: linear-gradient(0deg, rgba(43,45,66,1) 0%, rgba(239,35,60,1) 50%, rgba(43,45,66,1) 100%);
    border-radius: 0px;
    align-items: center;
    text-align: center;
    padding: 1px;
}


